@page "/movies"
@model RazorPages.Pages.Movies.IndexModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>My Movies</h1>

<ul class="list-group">
    @foreach (var movie in Model.Movies)
    {
        <li class="list-group-item">
            <a href="/movie/@movie.Permalink">@movie.Name </a>
        </li>
    }
</ul>