@page "/movies"
@model RazorPages.Pages.MoviesModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>My Movies</h1>

<ul>
    @foreach (var movie in Model.Movies)
    {
        <li>
            <a href="/movie/@movie.Permalink">@movie.Name </a>
        </li>
    }
</ul>